%p #{@owner.username} would like you to consider working on their project!
%br/
%p Project details:
%p Title: #{@project.title}
%p Project owner: #{@owner.firstname} #{@owner.lastname}
%p Owner contact: #{@owner.email}
%p Deadline: #{@project.deadline}
%p Description: #{@project.description}
%br/
%p Please respond back to the project owner as soon as possible.
%br/
%p This is an automated message. Please do not respond to this as it will not be seen.
