%p #{@user.username} is interested in your project posting on CSclearinghouse.
%br/
%p User information:
%p Name: #{@user.firstname} #{@user.lastname}
%p Email: #{@user.email}
%p Username: #{@user.username}
%p User info: #{@user.aboutme}
%br/
%p Please contact #{@user.firstname} as soon as it is convenient.
%br/
%p This is an automated message. Please do not respond to this as it will not be seen.
