.content
  .header Notifications for #{@user.username}
  -if @notifications.size == 0
    You have no notifications at this time.
  -else
    %table#notifications
      %thead
        %tr
          %th.bold Delete
          %th.bold From
          %th.bold Subject
          %td.bold Message
      %tbody
        - @notifications.each do |notification|
          %tr
            %td= link_to 'X', notification_path(notification), :method => :delete, :id => 'notification_delete'
            %td= notification.from
            %td= notification.subject
            %td= notification.message
