.content
	%h2 Edit #{@user.username}'s Profile page

	= form_tag user_path(@user), :method => :put do

		= label :user, :firstname, 'First Name'
		%br/
		= text_field :user, :firstname
		%br/
	
		= label :user, :lastname, 'Last Name'
		%br/
		= text_field :user, :lastname
		%br/
		
		= label :user, :aboutme, 'About Me'
		%br/
		= text_area :user, :aboutme, :class => 'small_text_area'
		%br/
		.spacing
		-if @tags.size!=0
			Check to Delete Skill Tag:
			- @tags.each do |tag|
				%span.tag
					= tag.name
				= check_box_tag "tags[#{tag.name}]", tag, checked = false, :id => "#{tag.name}"
			.spacing
		= label :tag, :name, 'New Skill Tag'
		= text_field :tag, :name
		%br/
		.spacing
		= submit_tag 'Update Profile'
	=link_to 'Back to Profile', user_path(@user)
	

