
%h2 Edit #{@user.username}'s Profile page

= form_tag user_path(@user), :method => :put do

	= label :user, :firstname, 'First Name'
	= text_field :user, :firstname

	= label :user, :lastname, 'Last Name'
	= text_field :user, :lastname
	
	= label :user, :aboutme, 'About Me'
	= text_field :user, :aboutme

	=label :user, :avatar, 'Change your avatar.'
	= file_field, :user, :avatar

	%h4 Tags:
	Check to Delete:
	- @tags.each do |tag|
		= tag.name
		= check_box_tag "tags[#{tag.name}]", tag, checked = false, :id => "#{tag.name}"
	%br/
	= label :tag, :name, 'New Tag'
	= text_field :tag, :name
	%br/
	= submit_tag 'Update Profile Page'
	

