%h2 Register new user


= form_tag users_path do

  = label :user, :username, 'Username'
  = text_field :user, 'username'

  = label :user, :firstname, 'First Name'
  = text_field :user, 'firstname'

  = label :user, :lastname, 'Last Name'
  = text_field :user, 'lastname'

  = label :user, :email, 'Email Address'
  = text_field :user, 'email'

  = submit_tag 'Register!'
