%h2 #{@user.username}'s Profile

%ul#profile
  %li
    First Name:
    = @user.firstname
  %li
    Last Name:
    = @user.lastname
  %li
    Email:
    = @user.email
#footer
  = link_to 'Edit Profile', edit_user_path(@user)
  = button_to 'Delete', user_path(@user), :method => :delete, :confirm => 'Are you sure?'
  = link_to 'Back to user list', users_path
