.content 
  .header #{@user.username}'s Profile
%ul#profile
  %li
  .info#profile
    %span.bold
      First Name:
    = @user.firstname
    .small_spacing
    %span.bold
      Last Name:
    = @user.lastname
    .small_spacing
    %span.bold
      Email:
    = @user.email
    .small_spacing
    %span.bold
      Projects:
    - @user.projects.each do |project|
      %span.page_links= link_to "#{project.title}", project_path(project)
    .small_spacing
    %span.bold
      About Me:
    = @user.aboutme
    .small_spacing
    %span.bold
      Skill Tags:
    - @user.tags.each do |tag|
      %span.tag= tag.name 
  .small_spacing
  -if @edit_and_delete
    .buttons
      = button_to 'Edit', edit_user_path(@user), :method => :get
  -else
    %div
      Let this user know you are interested in colaborating with them:
      = form_tag notifications_path(:user => @user, :type => "owner notify user of interest", :link => "/users/#{@user.id}", :current_user => current_user), :method => :post do
        = select_tag(:project, options_for_select(@current_user_projects))
        %span.button= submit_tag "Notify User"
    .small_spacing
  .page_links 
  = link_to 'Back to user list', users_path
