
%div#avatar= image_tag user.avatar_url(:avatar)
%div#headerinfo
  %span#name.bold= user.firstname
  %span#name.bold= user.lastname
  %br/
  -if user.shortdescription?
    %span#shortdescription= user.shortdescription
    %br/
  %span#user_status= "Class of #{user.graduatingyear}" if user.graduatingyear?
  %span#user_status= " | #{major} major" if major != nil
  %span#user_status= " with a minor in #{user.minor}" if user.minor?
  .small_spacing
  %div#contact_info
    %span#emailheading Email:
    %span#email= user.email
    %br/
    %span#phoneheading Phone:
    %span#phone (555)555-5555
  .small_spacing
  %div#skilltags
    %span.bold Skill Tags:
    - user.tags.each do |tag|
      %span.tag= tag.name
  %br/
  %div#contactbuttons
    -if edit_and_delete
      .buttons
        #editheader= button_to 'Edit', edit_user_path(user), :method => :get, :remote => true
    -else
      %div#colaboration
        Let this user know you are interested in colaborating with them:
        = form_tag notifications_path(:user => user, :type => "owner notify user of interest", :link => "/users/#{user.id}", :current_user => current_user), :method => :post do
          = select_tag(:project, options_for_select(current_user_projects))
          = submit_tag "Notify User"
