%div#main_navbar
	%ul.inline.nav.nav-tabs#main_navbar_links
		-if @current_controller == "home"
			%li{:id => "currentpage"}= link_to 'Home', home_index_path
		-else
			%li= link_to 'Home', home_index_path
			
		-if @current_controller ==	"about"	
			%li{:id=> "currentpage"}= link_to 'About', about_index_path
		-else
			%li= link_to 'About', about_index_path
		
		-if @current_controller == "projects"
			%li{:id=> "currentpage"}= link_to 'Projects', projects_path
		-else
			%li= link_to 'Projects', projects_path
		
		-if @current_controller == "users"
			%li{:id=> "currentpage"}= link_to 'Users', users_path
		-else
			%li= link_to 'Users', users_path


		%li= link_to 'CS Homepage', 'http://cs.colgate.edu'

		-#%li= link_to 'Add Project', new_project_path
		
