%div#sidebar
	%li#homepage_link= link_to 'Home', home_index_path
	%li#all_projects_link= link_to 'All Projects', projects_path
	%li#new_project_link= link_to 'Add Project', new_project_path
	%li#all_users_link= link_to 'All Users', users_path
	%li= link_to 'CS Homepage', 'http://cs.colgate.edu'
