%h1 Home Page

= link_to 'Login', '/home'

= link_to 'Register', new_user_path

= link_to 'Register', '/users/new'


= link_to 'View Projects', projects_path
= link_to 'View Contributors', users_path
= link_to 'Add Project', new_project_path
= link_to 'View Profile', '/home'
%h3 Links
%ul#links
	%li
		= link_to 'Colgate Computer Science', "http://cs.colgate.edu/"
