.content
  .header Update  #{@project.title}

  = form_tag project_path(@project), :method => :put do

    .bold= label :project, :title, 'Title'
    = text_field :project, 'title'
    .small_spacing
    .bold= label :project, :owner, 'Owner'
    = text_field :project, 'owner', :disabled =>'disabled'
    .small_spacing
    .bold= label :project, :deadline, 'Deadline (dd/mm/yyyy)'
    = text_field :project, 'deadline', :value=> (@project.deadline == nil ? @project.deadline : @project.deadlineslash)
    .small_spacing
    -if @tags.size!=0
      .small_spacing
      Check to Delete Tag:
      - @tags.each do |tag|
        %span.tag
          = tag.name
        = check_box_tag "tags[#{tag.name}]", tag, checked = false, :id => "#{tag.name}"
    .small_spacing
    .bold= label :tag, :name, 'New Tag'
    = text_field :tag, :name
    .small_spacing
    .bold= label :project, :description, 'Description'
    = text_area :project, 'description'
    .small_spacing
    = submit_tag 'Update Project Info'
  .small_spacing
  .page_links
    =link_to 'Back to all projects', projects_path
    =link_to "Back to Clearinghouse Home", home_index_path
    = link_to "Back to #{@project.title}", project_path(@project)
