.content
  %div
    .header All Projects
  Sort By: 
  = link_to 'Title', projects_path( :projectsort => 'title'), :class => @title_header
  = link_to 'Project Owner', projects_path( :projectsort => 'owner'), :class => @owner_header
  = link_to 'Deadline', projects_path( :projectsort => 'deadline'), :class => @deadline_header
  %br/
  = form_tag projects_path, :method => 'GET' , :id => 'project_search_bar'  do
    = text_field_tag :search, params[:search]
    = submit_tag 'Search Clearinghouse', :name => nil
  %span.button 
    =link_to 'Add New Project', new_project_path
  %hr

  - @projects.each do |project|
    = render "shared/project", :project => project

 
