
%h1 All Projects

= link_to "Back to Clearinghouse Home", home_index_path



%table#projects

  %thead
    %tr
      %th Title
      %th Description
      %th Project Owner
      %th Deadline
      %th Details

  %tbody
    - @projects.each do |project|
      %tr
        %td= project.title 
        %td= project.description
        %td= project.owner
        %td= project.deadline
        %td= link_to "More about #{project.title}", project_path(project)

=link_to 'Add New Project', new_project_path
 
