.content
  .header Create New Project

  = form_tag projects_path do

    = label :project, :title, 'Title'
    %br/
    = text_field :project, 'title'
    %br/
    .spacing
    = label :project, :owner, 'Owner'
    %br/
    = text_field :project, 'owner'
    %br/
    .spacing
    = label :project, :deadline, 'Deadline (dd/mm/yyyy)'
    %br/
    = text_field :project, 'deadline'
    %br/
    .spacing
    = label :tag, :name, "Tag"
    %br/
    = text_field :tag, 'name'
    %br/
    .spacing
    = label :project, :description, 'Description'
    %br/
    = text_area :project, 'description'
    %br/
    .spacing
    = submit_tag 'Create Project'
  .page_links
    =link_to 'Back to all projects', projects_path
    =link_to "Back to Clearinghouse Home", home_index_path
