.content
  .header Create New Project
  
  = form_tag projects_path do

    = label :project, :title, 'Title'
    %br/
    = text_field :project, 'title', :required => true
    %br/
    .spacing
    = label :project, :deadline, 'Deadline (mm-dd-yyyy)'
    %br/
    = text_field :project, 'deadline', :required => true
    %br/
    .small_spacing
    = label :tag, :name, "Tag"
    %br/
    = text_field :tag, 'name'
    %br/
    .small_spacing
    = label :project, :description, 'Description'
    %br/
    = text_area :project, 'description'
    %br/
    .small_spacing
    = submit_tag 'Create Project'
  .page_links
    =link_to 'Back to all projects', projects_path
    =link_to "Back to Clearinghouse Home", home_index_path
