%h2 Details about #{@project.title}

%ul#details
  %li
    Description:
    = @project.description
  %li
    Owner:
    = @project.owner
  %li
    Deadline:
    = @project.deadline

= link_to 'Update', edit_project_path(@project)
= button_to 'Delete', project_path(@project), :method => :delete, :confirm => 'Are you sure?'
= link_to 'Back to project list', projects_path
