= javascript_include_tag :defaults
!!! 5
%html
  %div#site_header
    %head
      %title Colgate Computer Science Clearinghouse
      = stylesheet_link_tag 'application'
      = javascript_include_tag 'application'
      = csrf_meta_tags 

  %body
    %div#title= link_to "Colgate's Computer Science Clearinghouse", '/home', :id => 'titlelink'
    
    #main
      %div#account_info
        %span.sign_in_status #{@sign_in_status}
        - if user_signed_in?
          %span.page_links= link_to 'Logout', destroy_user_session_path, :method => :delete
          %span.page_links= link_to 'Edit Account Info', edit_user_registration_path
          %span.page_links= link_to 'My Profile', user_path(current_user)
          %span.page_links= link_to 'Notifications', notifications_path
          %span
            #notification_count
              = "(#{current_user.notifications.size})"
        - else
          %span.page_links= link_to 'Login', new_user_session_path 
          %span.page_links= link_to 'Create an Account', new_user_registration_path
        %br/
      %div#homeimage
      - [:notice, :error, :success].each do |key|
        - unless flash[key].blank?
          %p{ :class => "flash #{key}" }= flash[key] 

      -#
        - if flash[:notice]
          #notice.message= flash[:notice]
        - elsif flash[:warning]
          #warning.message= flash[:warning]
        - elsif flash[:alert]
          #alert.message= flash[:alert]

      = render "shared/sidebar"
      = yield
